#.gitignore

*.diff
*.orig
*.err
*.org
*.log
*.rej
*.swo
*.swp
*.vi
*~

*.esproj
*.sass-cache
*.sublime-project
*.sublime-workspace
.DS_Store
.cache
.project
.settings
.tmproj
Thumbs.db
nbproject
sftp-config.json